<!DOCTYPE html>
<html lang="zh-CN">
<body>


    {{template "ul.tmpl"}}
    <hr>
    {{template "ol.tmpl"}}

    <div>hello{{ . }}</div>

</body>

{{define "ol.tmpl"}}
<ol>
<li>111</li>
<li>112</li>
<li>123</li>
</ol>
{{end}}

